<div class="wizard_in_top" >
    <div class="wizard_top_left fl">Ink priming wizard</div>
    <!--<div class="wizard_top_right fr">{{childIndex+1}}/{{childList.length}}</div>-->
</div>
<div class="wizards_body_top" >Ink priming</div>
<div class="ink_priming_top">
    <button class="wizards_botton fl" >Start</button>
    <button class="wizards_botton fr" >Stop</button>
</div>
<ul class="ink_priming_body">
    <li>
        <div class="ink_priming_li_left">Ink sensor level value</div>
        <div class="ink_priming_li_right">60</div>
    </li>
    <li>
        <div class="ink_priming_li_left">Make-up sensor level value</div>
        <div class="ink_priming_li_right">60</div>
    </li>
    <li>
        <div class="ink_priming_li_left">Ink sensor level value</div>
        <div class="ink_priming_li_right">60</div>
    </li>
    <li>
        <div class="ink_priming_li_left">Make-up sensor level value</div>
        <div class="ink_priming_li_right">60</div>
    </li>
    <li>
        <div class="ink_priming_li_left">Ink sensor level value</div>
        <div class="ink_priming_li_right">60</div>
    </li>
    <li>
        <div class="ink_priming_li_left">Make-up sensor level value</div>
        <div class="ink_priming_li_right">60</div>
    </li>
    <li>
        <div class="ink_priming_li_left">Ink sensor level value</div>
        <div class="ink_priming_li_right">60</div>
    </li>
    <li>
        <div class="ink_priming_li_left">Make-up sensor level value</div>
        <div class="ink_priming_li_right">60</div>
    </li>
    <li>
        <div class="ink_priming_li_left">Ink sensor level value</div>
        <div class="ink_priming_li_right">60</div>
    </li>
    <li>
        <div class="ink_priming_li_left">Make-up sensor level value</div>
        <div class="ink_priming_li_right">60</div>
    </li>
    <li>
        <div class="ink_priming_li_left">Ink sensor level value</div>
        <div class="ink_priming_li_right">60</div>
    </li>
    <li>
        <div class="ink_priming_li_left">Make-up sensor level value</div>
        <div class="ink_priming_li_right">60</div>
    </li>
    <li>
        <div class="ink_priming_li_left">Ink sensor level value</div>
        <div class="ink_priming_li_right">60</div>
    </li>
    <li>
        <div class="ink_priming_li_left">Make-up sensor level value</div>
        <div class="ink_priming_li_right">60</div>
    </li>
    <li>
        <div class="ink_priming_li_left">Ink sensor level value</div>
        <div class="ink_priming_li_right">60</div>
    </li>
    <li>
        <div class="ink_priming_li_left">Make-up sensor level value</div>
        <div class="ink_priming_li_right">60</div>
    </li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
    <li>1</li>
</ul>
<div class="ink_priming_bottom">
    <button (click)="complete()" class="wizards_complete" >
        <div class="wizards_complete_text">Complete</div>
    </button>    
</div>